.entry-title {
    font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3.5rem;
    margin-bottom: 3%;
}

.entry-content {
     font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
     display: inline-block;     
     vertical-align: top;
 }

.paragraph {
    margin-bottom: 1em;
    text-indent: 3rem;
    font-size: 1.5rem;
    font-weight: lighter;
}

.paragraph-no-indent {
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: lighter;
}

.heading {
    font-size: 1.5rem;
    font-weight: bold;
 }

 ol, ul {
     font-size: 1.5rem;
 }